body {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;

  /* font-family: "Bungee", sans-serif;
  font-weight: 500;
  font-style: normal; */
  color: #03174a;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #928989; 
}

header {
  background: #a00574; 
  color: white;
  padding: 60px 0;
  text-align: center;
  
}

h2 {
  margin-left: 37%;
}

main {
  padding: 80px;
  max-width: 1200px;
  margin: auto; 
}

.gallery {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(5, 200px); 
  gap: 120px; 
  margin-left: 14%;
  margin-right: 10%;
}

.gallery img {
  width: 80%; 
  height: 120%; 
  object-fit: cover; 
  border-radius: 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s; 
}

.gallery img:hover {
  transform: scale(1.05); 
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #333; 
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px; 
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.description {
    margin-top: 1px; 
    font-family: "Permanent Marker", cursive; 
    font-size: 20px; 
    color: #03174a;
    text-align: center; 
    margin-right: 24%;
    background-color: rgba(245, 244, 210, 0.7);
border-radius:50%;
   
}
