/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
    background-color: #1a120b;
    display: flex;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #e5e5cb;
    /* color: #3c2a21; */
    font-size: 1.1rem;
    gap: 1.5rem;
  }
  
  .outer {
    border: 2px dashed #e5e5cb7a;
    width: 400px;
    min-height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    opacity: 1;
    /* background-color: cornsilk; */
    transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
  }
  button {
    padding: 10px 20px;
    font-size: 1.3rem;
    border-radius: 12px;
    /* border-width: 0; */
    cursor: pointer;
    /* background-color: pink; */
    background-color: transparent;
    border-color: aquamarine;
    color: antiquewhite;
    transition: background-color 0.7s lease scale 0.7s linear;
    /* transition: background-color 0.5s linear scale 0.5s ease; */
  }

  button:hover {
    /* background-color: rgb(153, 153, 234); */
    scale: 0.9;
    border-color: plum;
    rotate: 10deg;
  }

  .duck-skin{
    cursor: pointer;
    transition: fill 0.4s ease-in-out ;
  }

  .duck-skin:hover{
    fill: rgb(244, 85, 111);
  }

  .duck-icon{
    transition: scale 0.4s ease;
  }

  .duck-icon:hover{
    scale: 0.9;
  }